<div class="form-control">
	<label for="emailLog">Почта</label>
	<input type="text" id="emailLog" class="email" name="email" placeholder="pochta@yandex.ru" {{readonly}}>
</div>
<div class="form-control">
	<label for="loginLog">Логин</label>
	<input type="text" id="loginLog" class="login" name="login" placeholder="ivanivanov" {{readonly}}>
</div>
<div class="form-control">
	<label for="firstNameLog">Имя</label>
	<input type="text" id="firstNameLog" class="first_name" name="first_name" placeholder="Иван" {{readonly}}>
</div>
<div class="form-control">
	<label for="secondNameLog">Фамилия</label>
	<input type="text" id="secondNameLog" class="second_name" name="second_name" placeholder="Иванов" {{readonly}}>
</div>
<div class="form-control">
	<label for="displayNameLog">Имя в чате</label>
	<input type="text" id="displayNameLog" class="display_name" name="display_name" placeholder="Иван" {{readonly}}>
</div>
<div class="form-control last">
	<label for="phoneLog">Телефон</label>
	<input type="text" id="phoneLog" class="phone" name="phone" placeholder="+7 (909) 967 30 30" {{readonly}}>
</div>