<div class="wrapper__profileChangePasword">
	{{{prevArrow}}}
	<div class="content">
		<div class="profile">
			{{{avatarLog}}}
			<form class="profile__form form">
				<div class="form-control">
					{{titleOldPassword}}
					{{{inputOldPassword}}}
					<small class="error"></small>
				</div>
				<div class="form-control">
					{{titlePassword}}
					{{{inputPassword}}}
					<small class="error"></small>
				</div>
				<div class="form-control last">
					{{titlePasswordAgain}}
					{{{inputPasswordAgain}}}
					<small class="error"></small>
				</div>
				<div class="wrap__btn">
					<div class="btn_width">
						{{{btnSaveCangePasword}}}
					</div>
				</div>
			</form>
		</div>
	</div>
</div>