<div class="wrapper__profileChangePasword">
	{{{prevArrow}}}
	<div class="content">
		<div class="profile">
			{{{avatarLog}}}
			<form class="profile__form form" name="changePassword__form">
				<label class="label" for={{nameInputOldPassword}}>
					{{labelInputOldPassword}}
					{{{inputOldPassword}}}
					<small class="error"></small>
				</label>
				<label class="label" for={{nameInputPassword}}>
					{{labelInputPassword}}
					{{{inputPassword}}}
					<small class="error"></small>
				</label>
				<label class="label" for={{nameInputPasswordAgain}}>
					{{labelInputPasswordAgain}}
					{{{inputPasswordAgain}}}
					<small class="error"></small>
				</label>
				<div class="wrap__btn">
					<div class="btn_width">
						{{{btnSaveCangePasword}}}
					</div>
				</div>
			</form>
		</div>
	</div>
</div>