<div class="wrapper__profileChange">
	<div class="wrap__arrow">
		<div class="blueCircle">
			<div><a href="/profile"><span>&#8656;</span></a></div>
		</div>
	</div>
	<div class="content">
		<div class="profile">
			{{{avatarLog}}}
			<form id="changeProfile__form" class="changeProfile__form" name="changeProfile__form" action="/profile">
				<div class="form-control">
					{{{email}}}
				</div>
				<div class="form-control">
					{{{login}}}
				</div>
				<div class="form-control">
					{{{firstName}}}
				</div>
				<div class="form-control">
					{{{secondName}}}
				</div>
				<div class="form-control">
					{{{displayName}}}
				</div>
				<div class="form-control">
					{{{phone}}}
				</div>
				<div class="wrap__btn">
					<div class="btn_width">
						{{{btnSave}}}
					</div>
				</div>
			</form>
		</div>
	</div>
</div>