<div class="wrapper__profileChange">
	{{{prevArrow}}}
	<div class="content">
		<div class="profile">
			{{{avatarLog}}}
			<form class="profile__form form">
				<div class="form-control">
					{{titleEmail}}
					{{{inputEmail}}}
					<small class="error"></small>
				</div>
				<div class="form-control">
					{{titleLogin}}
					{{{inputLogin}}}
					<small class="error"></small>
				</div>
				<div class="form-control">
					{{titleFirstName}}
					{{{inputFirstName}}}
					<small class="error"></small>
				</div>
				<div class="form-control">
					{{titleSecondName}}
					{{{inputSecondName}}}
					<small class="error"></small>
				</div>
				<div class="form-control">
					{{titledisplayName}}
					{{{inputDisplayName}}}
					<small class="error"></small>
				</div>
				<div class="form-control last">
					{{titlePhone}}
					{{{inputPhone}}}
					<small class="error"></small>
				</div>
				<div class="wrap__btn">
					<div class="btn_width">
						{{{btnSave}}}
					</div>
				</div>
			</form>
		</div>
	</div>
</div>