<div class="wrapper__profile">
	{{{prevArrow}}}
	<div class="content">
		<div class="profile">
			{{{avatarLog}}}
			<form class="profile__form form" name="profile__form">
				<div class="form-control">
					{{titleEmail}}
					{{{inputEmail}}}
				</div>
				<div class="form-control">
					{{titleLogin}}
					{{{inputLogin}}}
				</div>
				<div class="form-control">
					{{titleFirstName}}
					{{{inputFirstName}}}
				</div>
				<div class="form-control">
					{{titleSecondName}}
					{{{inputSecondName}}}
				</div>
				<div class="form-control">
					{{titledisplayName}}
					{{{inputDisplayName}}}
				</div>
				<div class="form-control last">
					{{titlePhone}}
					{{{inputPhone}}}
				</div>
			</form>
			<div class="wrap__profileBtn">
				<div class="changeData btn">
					{{{changeProfileBtn}}}
				</div>
				<div class="changePassword btn">
					{{{changePasswordBtn}}}
				</div>
				<div class="out btn">
					{{{buttonTextOut}}}
				</div>
			</div>
		</div>
	</div>
</div>