<div class="wrapper__profile">
	{{{prevArrow}}}
	<div class="content">
		<div class="profile">
			{{{avatarLog}}}
			<form class="profile__form form" name="profile__form">
				<label class="label" for={{nameInputEmail}}>Почта
					{{labelInputEmail}}
					{{{inputEmail}}}
					
				</label>
				<label class="label" for={{nameInputLogin}}>Логин
					{{labelInputLogin}}
					{{{inputLogin}}}
					
				</label>
				<label class="label" for={{nameInputFirstName}}>Имя
					{{labelInputFirstName}}
					{{{inputFirstName}}}
				</label>
				<label class="label" for={{nameInputSecondName}}>Фамилия
					{{labelInputSecondName}}
					{{{inputSecondName}}}
				</label>
				<label class="label" for={{nameInputdisplayName}}>Имя в чате
					{{labelInputdisplayName}}
					{{{inputDisplayName}}}
				</label>
				<label class="label" for={{nameInputPhone}}>Телефон
					{{labelInputPhone}}
					{{{inputPhone}}}
				</label>
			</form>
			<div class="wrap__profileBtn">
				<div class="changeData btn">
					{{{changeProfileBtn}}}
				</div>
				<div class="changePassword btn">
					{{{changePasswordBtn}}}
				</div>
				<div class="out btn">
					{{{buttonTextOut}}}
				</div>
			</div>
		</div>
	</div>
</div>