<div class="wrapper__profile">
	{{{prevArrow}}}
	<div class="content">
		<div class="profile">
			{{{avatarLog}}}
			<form id="profile__form" class="profile__form" name="profile__form" action="#">
				{{{profile}}}
			</form>
			<div class="wrap__profileBtn">
				<div class="changeData btn">
					{{{changeProfileBtn}}}
				</div>
				<div class="changePassword btn">
					{{{changePasswordBtn}}}
				</div>
				<div class="out btn">
					{{{buttonTextOut}}}
				</div>
			</div>
		</div>
	</div>
</div>