<div class="wrapper__registration">
	<div class="registration">
		<form id="registration__form" class="registration__form" name="registration__form" action="/choseChat">
			<h2>Регистрация</h2>
			<div class="form-control">
				{{{email}}}
				<small>Error</small>
			</div>
			<div class="form-control">
				{{{login}}}
				<small>Error</small>
			</div>
			<div class="form-control">
				{{{firstName}}}
				<small>Error</small>
			</div>
			<div class="form-control">
				{{{secondName}}}
				<small>Error</small>
			</div>
			<div class="form-control">
				{{{phone}}}
				<small>Error</small>
			</div>
			<div class="form-control" id="form-control__pas">
				<label for="password">Пароль</label>
				<input type="password" id="password" name="password" class="password" placeholder="Пароль">
				<small>Error</small>
			</div>
			<div class="form-control last" id="form-control__pas">
				<label for="passwordRegTwo">Пароль (ещё раз)</label>
				<input type="password" id="passwordRegTwo" name="passwordRegTwo" class="passwordRegTwo"
					placeholder="Пароль">
				<small>Error</small>
			</div>
			{{{buttonBlue}}}
		</form>
		<div>
			{{{buttonText}}}
		</div>
	</div>
</div>