<div class="wrapper__index">
	<div class="enterChat">
		<form class="chat__form form">
			<h1 class="title">{{title}}</h1>			
				<label class="label" for={{nameInputLogin}}>
					{{labelInputLogin}}
					{{{inputLogin}}}
					<small class="error"></small>
				</label>			
				<label class="label last" for={{nameInputPassword}}>
					{{labelInputPassword}}
					{{{inputPassword}}}
					<small class="error"></small>
				</label>
			{{{buttonBlue}}}
		</form>
		<div class="toRegistration__form">
			{{{buttonText}}}
		</div>
	</div>
</div>