<div class="wrapper__index">
	<div class="enterChat">
		<form class="chat__form form">
			<h1 class="title">{{title}}</h1>
			<div class="form-control">
				{{titleLogin}}
				{{{inputLogin}}}
				<small class="error"></small>
			</div>
			<div class="form-control last">
				{{titlePassword}}
				{{{inputPassword}}}
				<small class="error"></small>
			</div>
			{{{buttonBlue}}}
		</form>
		<div class="toRegistration__form">
			{{{buttonText}}}
		</div>
	</div>
</div>