<div class="allChats">
	<div class="profile">
		<div class="profile__outProfile">
			<span>&lt;</span>{{{signOut}}}
		</div>
		<div class="profile__inProfile">
			{{{inProfile}}}<span> &gt;</span>
		</div>
	</div>
	<div class="searchChat">
		<form class="searchChat__form">
			{{{inputSearchChat}}}
		</form>
	</div>
	<div class="createChat">
		<form class="createChat__form form">
			{{{nameNewChat}}}
			{{{buttonBlue}}}
		</form>
	</div>
	<ul class="chatsNow">
		{{#each chatList}}
		{{{chatList}}}
		{{/each}}
	</ul>
</div>