<div class="wrapper__chatOnline">
	<div class="allChats">
		<div class="profile">
			<div class="profile__outProfile">
				<span>&lt;</span>{{{signOut}}}
			</div>
			<div class="profile__inProfile">
				{{{inProfile}}}<span> &gt;</span>
			</div>
		</div>
		<div class="searchChat">
			<form id="searchChat__form" class="searchChat__form" name="searchChat_form" action="/searchChat">
				<input type="text" id="search" class="search" name="search" placeholder="&#128269;&ensp;поиск">
				{{{buttonBlue}}}
			</form>
		</div>
		<ul class="chatsNow">
			<li class="chat">
				{{{chat1}}}
			</li>
			<li class="chat">
				{{{chat2}}}
			</li>
			<li class="chat">
				{{{chat3}}}
			</li>
			<li class="chat">
				{{{chat4}}}
			</li>
		</ul>
	</div>
	<div class="wrap__chatContent">
		<div class="chatContent">
			<div class="wrap__header">
				<div class="header__contant">
					<div class="chat__logo"></div>
					<h3 class="chat__title">chat online!</h3>
				</div>
				<div class="chat__change">
					<span>&#8942;</span>
				</div>
			</div>
			<section class="data__Message">
				<time>19 июня</time>
			</section>
			<section class="massages">
				<div class="massages__content">
					<p class="content_text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam autem
						rerum sint similique
						voluptatem iusto quidem aliquid, repellendus nihil, quibusdam sit omnis atque accusamus
						maiores quia aspernatur numquam non repudiandae!</p>
					<time class="time">11:00</time>
				</div>
			</section>
			<section class="massages">
				<div class="massages__content">
					<img class="img" src="{{src}}" alt="my_foto">
					<time class="time">11:00</time>
				</div>
			</section>
			<section class="my__massages">
				<div class="massages__content">
					<p>Hola Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente fuga assumenda
						temporibus consequatur magni. Reprehenderit amet sint, quibusdam ratione quis nisi quae,
						deserunt eius accusantium consequatur dignissimos esse autem
						provident.&emsp;<span>&#10003;&#10003;</span></p>
					<time class="time">11:00</time>
				</div>
			</section>
			<div class="wrap__footer">
				<div class="footer__contant">
					<div class="added"><a href="#"><span>&#128206;</span></a></div>
					<div class="inputMassage">
						<input type="text" id="massage" class="massage" name="massage" placeholder="Сообщение">
					</div>
					{{{sendMassge}}}
				</div>
			</div>
		</div>
	</div>
</div>